<!doctype html>
<title>Hello from Flask</title>

<body>

<form action="" method="post">
<input type="text" name="message" />
<input type="submit" value="Execute" />
</form>

<p>imsiStat = {{ imsiStat }} </p>
<p>imeiStat = {{ imeiStat }} </p>
<p>CPUIDStat = {{CPUIDStat}} </p>
<p>modemStat = {{modemStat}} </p>
<p>serialStat = {{serialStat}} </p>
<p>trackingStat = {{trackingStat}} </p>
<p>gpsStat = {{gpsStat}} </p>
<p>satStat = {{satStat}}</p>
<p>locationStat ={{locationStat}} </p> 
<p>CPUIDStat = {{CPUIDStat}} </p>
<p>extIpStat = {{extIpStat}}</p>
<p>locationStat ={{locationStat}}</p>
<p>headingStat = {{headingStat}}</p>
<p>velVertStat = {{velVertStat}}</p>
<p>velHorizStat = {{velHorizStat}}</p>
<p>altStat = {{altStat}} </p>
<p>timeUTCStat = {{timeUTCStat}} </p>
<p>latitudeStat = {{latitudeStat}} </p>
<p>longitudeStat = {{longitudeStat}} </p>
</body>