{% extends "head.html" %}

{% block content %}
<div id="homecontent" >
<h1> About </h1>

<p> All members of our team are currently studying the same subject: Engineering Design and
Management 3, at the University of Wollongong. This subject requires students to work in teams to develop and market a project within the span of two university sessions. This year, the subject coordinator allowed teams to participate in the Telstra M2M challenge. Northfield Systems was formed by all those in the class who wish to prove they are the next generation of Australian innovators.</p>
<p> Our team comprises of eleven students studying various engineering degrees, namely
mechatronics, telecommunications, computer and electrical engineering. As a result, we have a strong technical background and are driven by performance.</p>
<p>Our university requires all engineering students to receive training in project management,
marketing and ethics. This means that even though all our members have a strong engineering
focus, we are also proficient in all areas of the project lifecycle, from conception to marketing
and final delivery. </p>
</div>

{% endblock %}
