{% extends "head.html" %}

{% block content %}

<div id="homecontent">
<h1> Conact </h1>

<table>
<tr>
	<td>Northfield Systems M2M Team at University of Wollongong<br /></td>
</tr>
<tr>
	<td>Team Members</td>
</tr>
</table>
<br />
<table>
<tr>
  <td>Brendan Butters</td>
  <td>Andrew Tomlinson</td>		
</tr>
<tr>
  <td>James Firman</td>
  <td>Brendan Banfield</td>		
  
</tr>
<tr>
  <td>Ben Tomkins</td>
  <td>Scott Tilman</td>		
</tr>
<tr>
  <td>Matthew Clancy</td>
  <td>David Williams</td>		
</tr>
<tr>
  <td>Jason Causser</td>
  <td>Tim Davies</td>		
</tr>
<tr>
  <td>Jacob Constable</td>	
</tr>
</table>

</div>
{% endblock %}
