{% extends "head.html" %}

{% block content %}


<div id="banner" style="background-image:url({{url_for('static', filename='banner.jpg')}});">
<h1>BECAUSE WE CAN</h1>
<p>A team determined to make our roads safer with brand spanking new and viable solutions to all your problems.</p>
</div>


<div id="homecontent">

<p>
There has been telecommunications equipment in cars for decades. Much of this
equipment has been designed specifically for voice communication. Only in recent times has
there been a shift toward M2M oriented communications within vehicles. Much of this technology has been focused on navigation security systems, for example traffic monitoring Global Positioning System (GPS) devices and back-to-base alarm systems. There has been little developments in improving car safety using M2M technology. Northfield Systems will be one of the first organisations to introduce an M2M technology that not only provides operation improvements to transport companies, but also makes driving safer for all road users.</p></div>


{% endblock %}
