
  <form action="" method=post class="form-horizontal">
    <h2>add dummy data</h2>
    <div class="control-group">


	<div class="controls">
          <input type="text" id="imei" name="imei" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="imsi" name="imsi" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="time_stamp" name="time_stamp" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="cpu_ID" name="cpu_ID" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="display_string" name="display_string" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="lon" name="lon" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>



        <div class="controls">
          <input type="text" id="lat" name="lat" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	
	<div class="controls">
          <input type="text" id="alt" name="alt" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="speed" name="speed" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="revCount" name="revCount" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="lev" name="lev" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="status" name="status" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="spare" name="spare" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
	<div class="controls">
          <input type="text" id="stamp" name="stamp" class="input-xlarge"
            placeholder="test1" value="{{ request.form.title }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create</button>
          <a href="{{ url_for('index') }}">Back to list</a>
        </div>
    </div>
  </form>

